* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header1 {
    height: 8.5vh;
    background-color: #226000;
}

.smallheader {
    display: flex;
    justify-content: space-between;
}

.search {
    margin-top: 2.3vh;
    margin-left: 2vw;
}

.input {
    width: 150px;
    height: 3.2vh;
    border-radius: 7px;
}

.logoimg {
    cursor: pointer;
    width: 8vh;
    transform: translateX(100%);
}

.login {
    padding: 3vh;
}

.anchor {
    color: white;
    text-decoration: none;
    margin: 3vh 1vh;
}

.p {
    display: inline-block;
    color: white;
}

#hello1 {
    margin: 2vh;
    color: white;
}

#hello2 {
    margin: 2vh;
    color: white;
}

.header2 {
    height: 7.5vh;
    background-color: white;
}

.nav {
    text-align: center;
}

.ul .li {
    display: inline-block;
    margin: 2.2vh 5vh;
    list-style: none;
}

.ul .li .anchor3 {
    text-decoration: none;
    color: #226000;
    font-size: 3.3vh;
}

.ul .li .anchor3:hover {
    color: black;
}

@media screen and (max-width: 810px) {
    .header2 {
        height: 15vh;
    }
}

@media screen and (max-width: 541px) {
    .header2 {
        height: 24.5vh;
    }

    .logoimg {
        margin-right: 5vw;
    }

    .login {
        margin-right: 2vw;
    }
}

.bigcontent {
    width: 100%;
    height: 84vh;
    background-image: url(images/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    padding: 11.5vw 0vh 0vh 6vh;
}

.h1 {
    font-size: 7vh;
    color: #226000;
}

.h11 {
    font-size: 5vh;
    font-family: 'Open Sans', sans-serif;
    color: #226000;
}

#here {
    margin: 2vh 0;
    width: 20vw;
}

.p1 {
    font-size: 2.5vh;
    color: #458D01;
    width: 33vw;
    /* width: 490px; */
}

.btn .anchor {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.5vh;
    transition: color 0.4s, font-size 0.4s;
}

.btn {
    background-color: #458D01;
    padding: 15px;
    width: 200px;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #226000;
    cursor: pointer;
    position: relative;
}

.btn11 .anchor:hover {
    color: whitesmoke;
    font-size: 1.7vh;
}

.btn1 {
    width: 75px;
}

.container {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    font-weight: 900;
    font-size: 8.5vh;
    color: #cad1c3;
    user-select: none;
}

.front {
    font-weight: 900;
    font-size: 4.8vh;
    color: #226000;
    position: absolute;
    margin-top: 20px;
}

.para {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.boxes1 {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.box1 {
    width: 35vw;
}

/* .box2 {
    width: 40vh;
    margin-right: 16vw;
} */

.i {
    background-image: url(https://static01.nyt.com/images/2021/08/30/dining/as-grilled-cheese-sandwich-on-the-grill/as-grilled-cheese-sandwich-on-the-grill-articleLarge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    height: 45vh;
}

.j {
    width: 100%;
    height: 100%;
    background: rgba(69, 141, 1, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.p2 {
    color: #226000;
}

.h3 {
    font-size: 4vh;
    color: #226000;
}

.p3 {
    font-size: 2vh;
    color: #458D01;
}

.sandwich {
    opacity: 0.3;
}

.container2 {
    margin-top: 4vh;
    display: grid;
    height: 67vh;
    width: 100%;
    grid-template-columns: auto auto auto;
}

.up {
    height: 27vh;
    width: 25vw;
    margin-left: 4vw;
    background-color: #458D01;

}

.down {
    height: 40vh;
    width: 25vw;
    margin-left: 4vw;
    background-color: rgb(243, 240, 240);
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Basic {
    font-size: 4.5vh;
    color: white;
}

.dollar35 {
    font-size: 6vh;
    color: white;
}

.pcs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3vh;
    line-height: 7vh;
    color: #226000;
}

.btn3 {
    top: 15vh;
    right: 6vw;
    background-color: #1b4d00;
}

.chick {
    position: relative;
    left: 5vw;
}

.special {
    background-image: url(https://img.freepik.com/free-photo/traditional-supreme-pizza-isolated-white-background_123827-20129.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7vh;
    height: 70vh;
    display: flex;
    text-align: end;
}

.special-text {
    height: 53vh;
    transform: translate(128%, 37%);
}

.h41 {
    font-size: 2vw;
    width: 43vw;
    color: #458D01;
}

.h22 {
    font-size: 3.7vw;
    width: 43vw;
    color: #226000;
}

.h32 {
    color: #458D01;
    font-size: 2.4vw;
    letter-spacing: 0.9vw;
    width: 43vw;
}

.p23 {
    color: #458D01;
    font-size: 1vw;
    width: 43vw;
}

.btn4 {
    background-color: #1b4d00;
}

.secondlast {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5vh 0;
    justify-content: space-between;
}

.img8 {
    width: 25vw;
}

.center {
    background-color: rgb(243, 240, 240);
    height: 36vh;
    padding: 4vw 2vw;
}

.h331 {
    color: #226000;
    font-size: 1.9vw;
}

.p5 {
    color: #458D01;
    font-size: 1.1vw;
}

footer {
    background-image: url(https://www.ubankonline.com/ContentImageHandler.ashx?ImageId=143857);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 18vw;
}

.line {
    margin: 0.2vw auto;
}

.line1 {
    width: 10.1vw;
}

.linefirst {
    color: white;
    width: 6vw;
}

.line2 {
    font-size: 2vw;
    width: 17vw;
    color: white;
}

.line3 {
    font-size: 1.2vw;
    width: 11.1vw;
    color: white;
}

.line4 {
    width: 12vw;
    margin: 1vw auto;
}

.line5 {
    color: white;
    font-size: 1.5vw;
    width: 12.2vw;
}